Debug
Debug
/Testsubjekt V1/Testsubjekt V1/Testsubjekt V1/Testsubjekt V1.csproj.Debug.cachefile
/Testsubjekt V1/Testsubjekt V1/Testsubjekt V1/obj/x86
/Testsubjekt V1/Testsubjekt V1/Testsubjekt V1Content/obj
/Testsubjekt V1/Testsubjekt V1/Testsubjekt V1Content/bin
/Testsubjekt V1/Testsubjekt V1/Testsubjekt V1/obj
/Testsubjekt V1/Testsubjekt V1.suo
/Testsubjekt V1/Testsubjekt V1.suo
bin
Content
Debug
/Testsubjekt V1/Testsubjekt V1.suo
